:root {
  --white: #ffffff;
  --black: #000000;
  --grey: #afb0b3;
}

/* ******************* */
/* SECTIE 1: HOMEPAGE */
/* ******************* */
main > section:nth-of-type(1) {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

main > section:nth-of-type(1) img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

main > section:nth-of-type(1)::after {
  content: "";
  position: absolute;
  inset: 0;
  height: 100%;
  background: linear-gradient(
    to top,rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.3) 70%,transparent 100%);
  z-index: -1;
}

main > section:nth-of-type(1) h1 {
  position: relative;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}

main > section:nth-of-type(1) p {
  position: relative;
  width: 85%;
  color: var(--white);
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
}

/* ******************************** */
/* SECTIE 2: 911 TURBOS (CARROUSEL) */
/* ******************************** */

main > section:nth-of-type(2) {
  background-color: var(--black);
  padding: 18rem 0 4rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main > section:nth-of-type(2) img {
  max-width: 100%;
}

main > section:nth-of-type(2) ul {
  display: flex;
  list-style: none;
}

main > section:nth-of-type(2) ul li {
}

main > section:nth-of-type(2) ul li h5 {
  color: var(--white);
}

main > section:nth-of-type(2) h2 {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
}

main > section:nth-of-type(2) h2,
main > section:nth-of-type(2) label,
main > section:nth-of-type(2) h4 {
  color: var(--white);
  padding: 0.5rem 3rem 0 3rem;
  margin: 0;
}

main > section:nth-of-type(2) a {
  border-radius: 0.3rem;
  padding: 0.8rem 2rem;
  margin: 0.3rem 1.5rem;
  transition: all 0.2s ease;
}

main > section:nth-of-type(2) a:first-of-type {
  color: var(--black);
  background-color: var(--white);
}

main > section:nth-of-type(2) a:first-of-type:hover {
  background-color: rgba(175, 176, 179);
}

main > section:nth-of-type(2) a:nth-of-type(2),
main > section:nth-of-type(2) a:last-of-type {
  color: var(--white);
  border: 0.1rem solid;
}

main > section:nth-of-type(2) a:nth-of-type(2):hover,
main > section:nth-of-type(2) a:last-of-type:hover {
  background-color: rgba(38, 38, 41);
  border: 0.1rem solid rgba(136, 137, 140);
}

main > section:nth-of-type(2) label {
  background-color: rgba(33, 34, 37);
  padding: .2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  width: fit-content;
  align-self: center;
}

main > section:nth-of-type(2) h4 {
  font-weight: 200;
}

main > section:nth-of-type(2) p {
  color: var(--grey);
  margin: 1rem;
  font-size: 0.9rem;
}

/* **************************** */
/* SECTIE 3: TECHNISCHE DETAILS */
/* **************************** */

main > section:nth-of-type(3) {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main > section:nth-of-type(3) img {
  max-width: 100%;
}

main > section:nth-of-type(3) ul {
  margin: 0;
  padding: 0;
}

main > section:nth-of-type(3) ul li h3 {
  color: var(--white);
  font-size: 2.3rem;
  font-weight: 100;
  margin: 2rem 0 0 0;
}

main > section:nth-of-type(3) ul li p {
  color: var(--grey);
  font-size: 1rem;
  line-height: 1.4;
  padding: 0 3rem;
  margin: 0;
}

main > section:nth-of-type(3) a {
  color: var(--white);
  border: 0.1rem solid;
  border-radius: 0.3rem;
  padding: 0.8rem 5rem;
  margin: 1.5rem;
}

main > section:nth-of-type(3) a:hover {
  background-color: rgba(38, 38, 41);
  border: 0.1rem solid rgba(136, 137, 140);
  transition: all 0.2s ease;
}

/* ******************************** */
/* SECTIE 4: TURBO S: TYPISCH TURBO */
/* ******************************** */
main > section:nth-of-type(4) {
  background-color: var(--white);
  color: var(--black);
}

main > section:nth-of-type(4) h2 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  padding: 2.5rem 1rem 3rem;
  line-height: 1.2;
}

main > section:nth-of-type(4) h3 {
  font-size: 2rem;
  font-weight: 200;
  padding: 0 1rem 0 1rem;
}

main > section:nth-of-type(4) p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.4;
  padding: 0 1rem 0.5rem 1rem;
}

main > section:nth-of-type(4) img {
  position: relative;
}

main > section:nth-of-type(4) img:nth-of-type(1) {
  padding-top: 2rem;
  max-width: 100%;
}

main > section:nth-of-type(4) img:nth-of-type(2),
main > section:nth-of-type(4) img:nth-of-type(5) {
  border-radius: 0.7rem;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: transform 0.8s ease-out; /* TO DO: js scroll ease */
}

main > section:nth-of-type(4) img:nth-of-type(3),
main > section:nth-of-type(4) img:nth-of-type(4) {
  transition: transform 0.8s ease-out;
  position: relative;
  margin: 0;
}

main > section:nth-of-type(4) img:nth-of-type(3) {
  position: relative;
  max-width: 70%;
  z-index: 2;
  border-top-right-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
}

main > section:nth-of-type(4) img:nth-of-type(4) {
  position: absolute;
  right: 0;
  max-width: 50%;
  padding-top: 3rem;
  z-index: 1;
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
}

main > section:nth-of-type(4) img:nth-of-type(5) {
  position: relative;
  max-width: 85%;
  margin-top: 12rem;
}

/* ******************* */
/* SECTIE 5: BRANDSTOFVERBRUIK EN UITSTOOT */
/* ******************* */
main > section:nth-of-type(5) {
  background-color: var(--white);
  color: var(--black);
  padding: 3rem 1.5rem;
  text-align: left;
  margin: 0;
}

main > section:nth-of-type(5) h3 {
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}

main > section:nth-of-type(5) h4 {
  font-size: 1rem;
  font-weight: 700;
  display: inline;
}
