/* ******************* */
/* SECTIE 1: HOMEPAGE */
/* ******************* */
main > section:first-of-type {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

main > section:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}

/* W3 schools */
main > section:first-of-type::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 60%);
  z-index: -1;
}

main > section:first-of-type h1,
main > section:first-of-type a,
main > section:first-of-type p {
  position: absolute;
  color: var(--white);
  line-height: 1.5;
}

main > section:first-of-type h1 {
  bottom: 5.2em;
  font-size: 2.5rem;
  font-weight: 400;
  width: 100%;
}

main > section:first-of-type a {
  bottom: 11em;
  left: 3em;
  border: 1.5px solid var(--white);
  padding: 1rem 4.5rem;
  font-size: 1em;
  text-decoration: none;
  border-radius: 0.2rem;
}

main > section:first-of-type p {
  bottom: 8.7em;
  font-size: 0.8em;
  max-width: 90%;
  line-height: 1.4;
  color: var(--grey);
}

/* ******************* */
/* SECTIE 2: DE DRIE MODELLEN */
/* ******************* */
main > section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 2rem;
  padding-top: 3rem;
}

main > section:nth-of-type(2) article {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

/* plaatjes auto's */
main > section:nth-of-type(2) article img:first-of-type {
  width: 100%;
  height: auto;
  display: block;
}

/* titel en pijl */
main > section:nth-of-type(2) article h4,
main > section:nth-of-type(2) article img:last-of-type {
  position: absolute;
  bottom: 1rem;
  z-index: 2;
  color: var(--white);
}

main > section:nth-of-type(2) article h4 {
  left: 1rem;
  margin-bottom: 0.1rem;
  font-size: 1.1rem;
  font-weight: 500;
}

main > section:nth-of-type(2) article img:last-of-type {
  right: 1rem;
  width: 1rem;
  height: auto;
}

main > section:nth-of-type(2) p {
  font-size: 0.7rem;
  color: var(--grey);
}

main > section:nth-of-type(2) article::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 30%);
  z-index: 1;
}

main > h2 {
  padding-left: 3.5rem;
  font-size: 2.3rem;
  font-weight: 400;
}

/* ******************* */
/* SECTIE 3: CARROUSEL */
/* ******************* */
main > section:nth-of-type(3) ul {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  margin: 0;
  /* bron: codepen sanne */
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  anchor-name: --carousel; /* anker voor scroll-marker groep */
  list-style-type: "";
}

main > section:nth-of-type(3) ul {
  scroll-marker-group: after;
}

/* groep bolletjes */
main > section:nth-of-type(3) ul::scroll-marker-group {
  position: fixed;
  position-anchor: --carousel;
  position-area: block-end; /* onder de carousel */
  position-visibility: always;
  margin: .5rem;

  display: grid;
  grid-auto-columns: 1rem;
  grid-auto-flow: column;
  gap: .5rem;
  
  border-radius: 5rem;
  background-color: rgba(38, 38, 42);
  padding: 1rem;
}

/* los bolletje */
main > section:nth-of-type(3) ul > li::scroll-marker {
  content: "" / attr(data-label);
  width: .6em;
  height: .6em;
  background-color: rgba(100, 100, 103);
  border-radius: 50%;
}

main > section:nth-of-type(3) ul > li::scroll-marker:target-current {
  background: white;
}

main > section:nth-of-type(3) ul li {
  list-style: none;
  position: relative;
  flex-basis: 16em;
  flex-shrink: 0;
  scroll-snap-align: center;
}

main > section:nth-of-type(3) ul li img:first-of-type {
  max-width: 20em;
  border-radius: 1rem;
  display: block;
  z-index: 0;
  height: auto;
  object-fit: cover;
}

main > section:nth-of-type(3) ul li label,
main > section:nth-of-type(3) ul li p,
main > section:nth-of-type(3) ul li img:last-of-type {
  color: var(--white);
  position: absolute;
  z-index: 1;
  padding: 1rem;
}

main > section:nth-of-type(3) ul li label {
  background-color: var(--grey);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  left: 1rem;
  bottom: 7rem;
}

main > section:nth-of-type(3) ul li p:nth-of-type(1) {
  bottom: 3rem;
  margin: 0;
  line-height: 1rem;
}

main > section:nth-of-type(3) ul li p:nth-of-type(2) {
  bottom: 0.5rem;
  margin: 0;
}

main > section:nth-of-type(3) ul li img:last-of-type {
  bottom: 0.9rem;
  left: 3.5rem;
  max-width: 1rem;
}

main > section:nth-of-type(3) > ul:first-of-type > li::after {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 10%, transparent 60%);
}

/* ******************* */
/* SECTIE 4: BASIC SECTIE: PORSCHE CENTRUM */
/* ******************* */
main > section:nth-of-type(4) {
  display: grid;
  margin: 6rem 2em;
  background-color: var(--black);
  border-radius: 1rem;
}

main > section:nth-of-type(4) h3,
main > section:nth-of-type(4) p {
  color: var(--white);
  margin: 0;
}

main > section:nth-of-type(4) h3 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1rem;
}

main > section:nth-of-type(4) p {
  padding: 0 1rem 0 1rem;
}

main > section:nth-of-type(4) a {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
}

main > section:nth-of-type(4) img {
  width: 100%;
  border-radius: 1rem;
}
