/* ******************* */
/* SECTIE 1: HOMEPAGE */
/* ******************* */
main > section:first-of-type {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
}

main > section:first-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -2;
}

/* bron W3 schools */
main > section:first-of-type::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 60%);
  z-index: -1;
}

main > section:first-of-type h1,
main > section:first-of-type a,
main > section:first-of-type p {
  color: var(--white);
  line-height: 1.5;
  margin: 0;
}

main > section:first-of-type h1 {
  position: relative;
  color: var(--white);
  font-size: 2.5rem;
  font-weight: 400;
}

main > section:first-of-type a {
  border-radius: 0.3rem;
  padding: 0.8rem 4.5rem;
  transition: all 0.2s ease;
  color: var(--white);
  border: 0.1rem solid;
  margin: 1rem;
}

main > section:first-of-type a:hover {
  background-color: rgba(38, 38, 41, 0.2);
  border: 0.1rem solid rgba(136, 137, 140);
}

main > section:first-of-type p {
  font-size: 0.8em;
  max-width: 90%;
  line-height: 1.4;
  color: var(--grey);
  margin-bottom: 6rem;
}

/* *************************** */
/* SECTIE 2: DE DRIE MODELLEN */
/* *************************** */
/* display grid (les opdracht): bron https://codepen.io/shooft/pen/vENpBKR?editors=1100  */

/* darkmode button  */
main > section:nth-of-type(2) button {
  background-color: black;
  border-radius: 3rem;
}

main > section:nth-of-type(2) {
margin: 1.5rem;
}

main > section:nth-of-type(2) article {
  position: relative;
  display: grid;
  grid-template-rows: 14em max-content;
  grid-template-columns: 1fr max-content;
  /* 2 kolommen */
  /* 1--> ruimte die over is */
  /* 2--> breedte van de content */
    gap: 1rem;
}

main > section:nth-of-type(2) article:hover {
  transform: scale(1.015);
  transition: all 0.5s ease;
}

/* plaatjes auto's */
main > section:nth-of-type(2) article img:first-of-type {
  width: 100%;
  height: auto;
  align-self: stretch;
  object-fit: cover;

  /* van de 1e tot de laatste kolom lijn */
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  
  border-radius: .8rem;
}

/* titel en pijl */
main > section:nth-of-type(2) article h4,
main > section:nth-of-type(2) article img:last-of-type {
  position: absolute;
  z-index: 2;
  color: var(--white);
}

main > section:nth-of-type(2) article h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 1.2rem;
  align-self: flex-end;
}

/* pijl */
main > section:nth-of-type(2) article img:last-of-type {
  padding: 0 .7em;
  margin: 1.6rem;
  align-self: flex-end;
  justify-self: flex-end;
  width: 1rem;
}

main > section:nth-of-type(2) p {
  font-size: 0.7rem;
  color: var(--grey);
}

main > section:nth-of-type(2) article::after {
  content: "";
  grid-column: 1 / -1;
  grid-row: 1;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 10%, transparent 30%);
  z-index: 1;
  border-radius: .8rem;
}

main > h2 {
  padding-left: 3.5rem;
  font-size: 2.3rem;
  font-weight: 400;
}

/* ******************* */
/* SECTIE 3: CARROUSEL */
/* ******************* */
main > section:nth-of-type(3) ul {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  margin: 0;
  /* bron: codepen sanne */
  overflow: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  anchor-name: --carousel; /* anker voor scroll-marker groep */
  list-style-type: "";
}

main > section:nth-of-type(3) ul {
  scroll-marker-group: after;
}

/* groep bolletjes */
main > section:nth-of-type(3) ul::scroll-marker-group {
  position: fixed;
  position-anchor: --carousel;
  position-area: block-end; /* onder de carousel */
  position-visibility: always;
  margin: 0.5rem;

  display: grid;
  grid-auto-columns: 1rem;
  grid-auto-flow: column;
  gap: 0.5rem;

  border-radius: 5rem;
  background-color: rgba(38, 38, 42);
  padding: 1rem;
}

/* los bolletje */
main > section:nth-of-type(3) ul > li::scroll-marker {
  content: "" / attr(data-label);
  width: 0.6em;
  height: 0.6em;
  background-color: rgba(100, 100, 103);
  border-radius: 50%;
}

main > section:nth-of-type(3) ul > li::scroll-marker:target-current {
  background: white;
}

main > section:nth-of-type(3) ul li {
  list-style: none;
  position: relative;
  flex-basis: 16em;
  flex-shrink: 0;
  scroll-snap-align: center;
}

main > section:nth-of-type(3) ul li img:first-of-type {
  max-width: 20em;
  border-radius: 1rem;
  display: block;
  z-index: 0;
  height: auto;
  object-fit: cover;
}

main > section:nth-of-type(3) ul li label,
main > section:nth-of-type(3) ul li p,
main > section:nth-of-type(3) ul li img:last-of-type {
  color: var(--white);
  position: absolute;
  z-index: 1;
  padding: 1rem;
}

main > section:nth-of-type(3) ul li label {
  background-color: rgba(81, 83, 87);
  padding: 0.2rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
  left: 1rem;
  bottom: 7rem;
}

main > section:nth-of-type(3) ul li p:nth-of-type(1) {
  bottom: 3rem;
  margin: 0;
  line-height: 1rem;
}

main > section:nth-of-type(3) ul li p:nth-of-type(2) {
  bottom: 0.5rem;
  margin: 0;
}

main > section:nth-of-type(3) ul li img:last-of-type {
  bottom: 0.9rem;
  left: 3.5rem;
  max-width: 1rem;
}

main > section:nth-of-type(3) > ul:first-of-type > li::after {
  content: "";
  position: absolute;
  inset: 0;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 10%, transparent 60%);
}

/* ******************* */
/* SECTIE 4: BASIC SECTIE: PORSCHE CENTRUM */
/* ******************* */
main > section:nth-of-type(4) {
  display: grid;
  flex-direction: column;
  margin: 6rem 2em;
  background-color: var(--black);
  border-radius: 1rem;
}

main > section:nth-of-type(4) h3,
main > section:nth-of-type(4) p {
  color: var(--white);
  margin: 0;
}

main > section:nth-of-type(4) h3 {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1rem 1rem;
}

main > section:nth-of-type(4) p {
  padding: 0 1rem 0 1rem;
}

main > section:nth-of-type(4) a {
  padding: 1rem 1rem;
  margin: 1rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.2rem;
  text-align: center;
  color: var(--black);
  background-color: var(--white);
}

main > section:nth-of-type(4) a:hover {
  background-color: rgba(175, 176, 179);
}

main > section:nth-of-type(4) img {
  width: 100%;
  border-radius: 1rem;
}
